langchain
langchain-community
pymupdf
rapidocr-onnxruntime
beautifulsoup4
requests
pypdf
sentence-transformers
pymilvus
psycopg2-binary
python-dotenv
openai
langchain-nvidia-ai-endpoints
langchain-huggingface
langchain-milvus
langchain-text-splitters
fastapi
uvicorn
python-multipart
tavily-python
filetype
streamlit